@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap");
* {
  font-family: "Urbanist"; }

.body-bg {
  background-color: #E7ECEE; }

.nav {
  background-color: #B1BEC6; }

.header {
  background-color: #6096BA; }
  .header .boton {
    color: #fff;
    background-color: #113662;
    border-color: #113662; }

div .boton {
  color: #E7ECEE;
  background-color: #113662;
  border-color: #113662; }

.footer {
  background-color: #6096BA; }

.formulario {
  margin-top: 100%;
  align-items: center;
  margin-bottom: 20%; }

  .cuerpo-index{
    display: grid;
    align-content: space-between;
    grid-template-columns: 6fr;
    margin-left: 20%;
    margin-right: 20%;
  }
.acercade {
  margin-top: 30%;
  margin-bottom: 30%; }
.cuerpo-acerca-de{
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  grid-template-columns: 6fr;
  margin-top: 40%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 10%;
}
.cuerpo-contacto{
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  grid-template-columns: 6fr;
  margin-left: 20%;
  margin-right: 20%;
}